.navbar {
    background-color: #318a8d;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    display: inline;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

a.red{
    color: rgb(109, 33, 33);
}

div.box{
    background: linear-gradient(to bottom, #ffffff, #46a290);
    border: 2px solid #ccc;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.body {
    padding-top: 60px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 60px;
}

.banner {
    background-color: rgb(93, 147, 127);
    font-family:'Times New Roman', Times, serif;
    color: rgb(47, 88, 118);
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
}

.paragraph {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24 px;
    line-height: 1.5em;
    text-indent: 2em;
}

.foot {
    margin-top: auto;
    background-color: #318a8d;;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot li{
    display: inline;
    padding: 20px;
}