@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.navbar {
    background-color: #ffeded;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999999;
    top: 0px;
    padding: 5px;
    width: 100%
}

.navbar li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}

a.red{
    color: rgb(198, 16, 16);
}

div.box{
    background: #000000;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 50px;
    font-family: 'Sacramento';
    color: rgb(255, 0, 0);
    padding: 0px;
    margin: auto;
}

.body {
    background-image: url(../images/JCCADAZ\ Graphics.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    white-space: wrap;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 60px;
}

.banner {
    background-color: rgb(204, 10, 10);
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(173, 20, 20);
    text-align: center;
    padding: 20px 0;
}

.image-bordered {
    border: 5px solid rgb(63, 50, 50);
    width: 480px;
    height: 480px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    float: left;
}

.header_space{
    display:inline;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 28%;
    margin-right: 28%;
}

.intro-paragraph-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin: 10px auto;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.5em;
    color: #36454F;
    background-color: #ffffff;
    text-shadow: 0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0);
}

.paragraph_space{
    margin: 1% auto;
    margin-left: 30%;
    margin-right: 15%;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: #ffffff;
}


.intro-paragraph {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.5em;
    text-shadow: -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
     -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: rgb(255, 105, 105);
  width: 95%;
  border-radius: .3rem;
  margin: 0 auto;
  text-align: center;
}

.container div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: .75rem;
  flex: 1 1 0px;
  font-size: 24px;
}

.service{
    padding: 20px;
    border: 1px solid #ffffff;
    width: 30%;
    width: 23%;
    box-shadow: 0 0 10px black inset;
    display: inline;
    margin: 1em;
}

.service h3{
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px whitesmoke;
    width: calc(100%/2 + 40%);
    height: 4rem;
    line-height: 2rem;
    display: inline-block;
}

.service p{
    overflow: hidden;
    height: 6rem;
    line-height: 2rem;
    display: inline-block;
}

.bottomstatement{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: larger;
    line-height: 1.5em;
    color: #36454F;
    text-shadow: 0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0);

}

.padding {
    height: 50px;
 }

.foot {
    margin: 0 auto;
    background-color: #ff3737;;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: large;
}

.foot h2{
    margin: auto;
    display: inline;
    padding: 20px;
    font-size: 30px;
    font-family: 'Sacramento';
}

.foot li{
    margin: auto;
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}