@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.navbar {
    background-color: #ffeded;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999999;
    top: 0px;
    padding: 5px;
    width: 100%
}

.navbar li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}

a.red{
    color: rgb(198, 16, 16);
}

div.box{
    background: #000000;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 50px;
    font-family: 'Sacramento';
    color: rgb(255, 0, 0);
    padding: 0px;
    margin: auto;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 60px;
}

.banner {
    background-color: rgb(204, 10, 10);
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(173, 20, 20);
    text-align: center;
    padding: 20px 0;
}

.banner {
    background-color: rgb(204, 10, 10);
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(173, 20, 20);
    text-align: center;
    padding: 20px 0;
}

#university_hall {
    float: right;
    margin-left: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
}

#bean_machine {
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
}

#bsa {
    float: right;
    margin-left: 10px;
    width: 300px;
    height: 300px;
}

.paragraph {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24 px;
    text-indent: 2em;
}

.horizontal-line {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
 }

 .broad-line {
    border-bottom: 4px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
 }

.foot {
    margin: 0 auto;
    background-color: #ff3737;;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: large;
}

.foot h2{
    margin: auto;
    display: inline;
    padding: 20px;
    font-size: 30px;
    font-family: 'Sacramento';
}

.foot li{
    margin: auto;
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}