.navbar {
    background-color: #8d3131;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    display: inline;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

a.red{
    color: rgb(109, 33, 33);
}

.body {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 60px;
    font-size: 20px;
    padding-bottom: 60px;
}

.banner {
    background-color: rgb(147, 93, 93);
    font-family:'Times New Roman', Times, serif;
    color: rgb(118, 48, 47);
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
}

.paragraph {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24 px;
    text-indent: 2em;
}

.horizontal-line {
    border-bottom: 2px solid black;
 }

.foot {
    margin-top: auto;
    background-color: #8d3131;;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot li{
    display: inline;
    padding: 20px;
}